.about_wrapper{
    h3{
        font-weight: bold;
        font-size: 1.2rem;
        margin:50px auto 0px;
    }

    .qr_image{
        margin:10px auto;
        width:30%;
        min-width:300px;
    }
}
