.grand_wrapper{
    width: 100%;
    max-width:1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        margin:20px auto;
    }
    p{
        margin:10px auto;
    }
    a{
        font-size:1.1em;
        font-weight:bold;
        border-bottom: solid 1px currentColor;
    }
}