.works_container{
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.work_grid{
    display: block;
    background-color:#000;
    a{
        display: block;
        img{
            max-width: 100%;
        }
    }
}