body {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  position: relative;
}

a {
  color: #40E0D0;
  text-decoration: none;
}
a:hover {
  color: #00CED1;
}

header {
  text-align: center;
  padding: 1em;
  background-color: #444;
}
header h1 {
  display: inline-block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 20px auto;
  background: linear-gradient(90deg, rgb(65, 164, 253), rgb(14, 244, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline;
  margin: 0 1em;
}
nav ul li:hover {
  filter: brightness(110%);
  text-decoration: underline;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}

main {
  width: 100%;
  margin: 0 auto;
  min-height: 60vh;
}

button {
  background-color: #40E0D0;
  color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #00CED1;
}

footer {
  width: 100%;
  padding-block: 30px;
  background-color: #444;
  text-align: center;
  position: absolute;
  bottom: 0;
  right: auto;
  left: auto;
}
footer p {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: linear-gradient(90deg, rgb(65, 164, 253), rgb(14, 244, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}