
body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    position: relative;
  }
  
  a {
    color: #40E0D0;
    text-decoration: none;
    &:hover {
        color: #00CED1;
      }
  }
  
  header {
    width:100%;
    text-align: center;
    background-color: #444;
    position: fixed;
    top:0;
    right:auto;
    left:auto;
  
    h1 {
      display: inline-block;
      font-size: 28px;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      margin: 20px auto 10px;
      background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  
  nav ul {
    list-style: none;
    margin: 0 auto;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    li {
      display: inline;
      margin: 0 1em;
  
      &:hover {
        filter: brightness(110%);
        text-decoration: underline;
      }
  
      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
  
  
  main {
    width:100%;
    margin: 0 auto;
    min-height:60vh;
  }
  

  
  
  
  button {
    background-color: #40E0D0;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover{
        background-color: #00CED1;
    }
  }
  
  
  footer {
    width: 100%;
    padding-block:30px;
    background-color: #444;
    text-align: center;
    position: absolute;
    bottom:0;
    right:auto;
    left:auto;
  
    p {
      display: inline-block;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      background: linear-gradient(90deg, rgba(65, 164, 253, 1), rgba(14, 244, 255, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  @media(max-width:670px){
    header,footer{
      padding:20px 0 5px;
      h1{
        margin:0 auto 10px;
      }
    }
  }