.grand_wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grand_wrapper h2 {
  margin: 20px auto;
}
.grand_wrapper p {
  margin: 10px auto;
}
.grand_wrapper a {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: solid 1px currentColor;
}

@media (max-width: 670px) {
  .grand_wrapper {
    padding-top: 70px;
  }
}
.home_wrapper p {
  text-align: center;
  padding-bottom: 20px;
}

.about_wrapper h3 {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 50px auto 0px;
}
.about_wrapper .qr_image {
  margin: 10px auto;
  width: 30%;
  min-width: 300px;
}

.works_container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.work_grid {
  display: block;
  background-color: #000;
}
.work_grid a {
  display: block;
}
.work_grid a img {
  max-width: 100%;
}

@media (max-width: 670px) {
  .works_container {
    grid-template-columns: 1fr 1fr;
    column-gap: 4vw;
    row-gap: 4vw;
  }
}